PORT=3000
SESSION_SECRET=supersecret_papa_es_2026
JWT_SECRET=jwt_secret_2026
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=papa_es_pos
DB_PORT=3306
MONGO_URI=mongodb://localhost:27017/papa_es_audit
ENABLE_MONGO_AUDIT=false
MANAGER_PIN=1234
